apsw == 3.40.1.0
transformers == 4.23.0
datasets == 2.4.0
sentencepiece == 0.1.97
sacrebleu == 2.2.1
jsonlines == 3.1.0
absl-py == 1.2.0
tqdm == 4.65.0

torch == 1.13.1
pytorch-lightning
torchmetrics
