apsw == 3.40.1.0
transformers == 4.23.0
datasets == 2.4.0
sentencepiece == 0.1.97
sacrebleu == 2.2.1
jsonlines == 3.1.0
absl-py == 1.2.0
packaging == 21.3
torch == 2.0.0
torchmetrics == 0.11.4
pytorch-lightning == 2.0.0
tqdm == 4.65.0
